
/* Mplayer.css */

.music {
  background-color: #10171e; /* Dark background color */
  color: #fff; /* Text color */
  padding: 5px;
  border-radius: 0px;
  position: relative;
}

.playing {
  background-color: rgba(13, 105, 105, 0.327);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0px;
  padding: 5px;
}

.playnav{
  display: flex;
  justify-content: center;
  
}



.cover-container {
  text-align: center;
  margin-bottom: 20px;
}
.cover-container img{
  max-height: 400px;
}

.cover-image {
  max-width: 60%;
  
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.react-player{
  max-height: 50px;
  max-width: 300px;
  margin: 0px;
}

/* .react-player-container {
  
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(0%,-300px);
} */
.search{
  margin: 10px 40px;
  
}

#prev,
#play,
#next,
#random {
  background-color: #3a3a3a; /* Play, Pause, Next button background color */
  color: #fff; /* Button text color */
  border: none;
  padding: 0px;
  margin: 0 10px;
  border-radius: 50%;
  cursor: pointer;
}
.playing img{
  width: 50px;
}

#vol{
  width: 200px;
}

.vol-search{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:  10px;
}

progress {
  width: 100%;
  margin-top: 0px;
}

#playlist {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #3a3a3a; /* Playlist item background color */
  border-radius: 5px;
  cursor: pointer;
}

.playing-song {
  background-color: #7f1414; /* Currently playing song background color */
  
}
#currentsong {
  margin: 0;
  padding: 0px;
}

#progress-bar {
  margin-top: 20px;
}


/* Lyrics.css */

.lyrics-container {
  padding: 0px;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
}

.lyrics-container pre {
  
  white-space: pre-wrap;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.pirateplay{
  display: flex;
  justify-content: space-between;
  align-items:center ;
  margin: 0px;
}
.search-file{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}

@media screen and (max-width: 1200px) {


  .playing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

    #prev,
  #play,
  #next,
  #random {
    width: 40px;
    height: 40px;
  }

  .playing img{
    width: 40px;
  }
  
  .react-player{
    max-height: 30px;
    max-width: 300px;
    margin-left: 0px;
  }

  .cover-container img {
    max-width: 80%; /* Adjust the cover image size for smaller screens */
  }

  .react-player {
    max-width: 80%; /* Adjust the player size for smaller screens */
  }
}

@media screen and (max-width: 800px) {

  .cover-container img{
    max-height: 340px;
  }
  .playing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  #prev,
#play,
#next,
#random {
  width: 40px;
  height: 40px;
}

.playing img{
  width: 40px;
}
.playnav{
  flex-direction: column;
}

  .cover-container img {
    max-width: 80%; /* Adjust the cover image size for smaller screens */
  }

  .react-player {
    max-width: 80%; /* Adjust the player size for smaller screens */
  }
}

@media screen and (max-width: 600px) {

  .cover-container img{
    max-height: 250px;
  }

  .playnav{
    background-color: #601111;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-radius: 20px;
    padding: 20px;
  }

  .vol-search{
    flex-direction: column;
  }

  .cover-container img {
    max-width: 80%; /* Adjust the cover image size for smaller screens */
  }

  .react-player {
    max-width: 80%; /* Adjust the player size for smaller screens */
  }
}

@media screen and (max-width: 400px) {

  .pirateplay{
    flex-direction: column;
  }

  .cover-container img{
    height: 250px;
  }
  .playnav{
    padding: 5px;
  }
  .cover-container img {
    max-width: 80%; /* Adjust the cover image size for smaller screens */
  }

  .react-player {
    max-width: 80%; /* Adjust the player size for smaller screens */
  }
  
}

